html {
    overflow-x: hidden;
    font-size: 30px;
}

body {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat Medium', sans-serif;
}